header {
display: inline-flex;
background-color: rgb(51, 51, 70);
padding: 0px 400px 0px 400px;
}


h1{
    background-color: rgba(95, 199, 199, 0.993);
    padding: 10px 200px 10px 200px;
    font-size: 50px;
    
    }

a:link {
    background-color: rgb(51, 51, 70);
    
    display: inline-block;
    color: rgba(95, 199, 199, 0.993);
    font-size: 35px;
    padding: 20px 40px 20px 40px;
     }

.two{
    background-color:rgba(95, 199, 199, 0.993);
    float: right;
    width: 300px;
    
    padding: 0px 800px 0px 800px;
}
h2{
    float: right;
}
